// maximum media query
@mixin maxQuery($max-width) {
    @media (max-width: #{$max-width}px) {
        @content;
    }
}

// minimum media query
@mixin minQuery($min-width) {
    @media (min-width: #{$min-width}px) {
        @content;
    }
}

// for common box
@mixin box($value) {
    width: #{$value}px;
    min-width: #{$value}px;
    height: #{$value}px;
}


@mixin background($color, $repeat, $position, $size) {
    background-color: $color;
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}