.footer{
    &:before{
        content: "";
        background: rgba(var(--nb4),1);
        position: absolute;
        right: 0;
        width: 100%;
        height: 16%;
        z-index: -1;
    }
    @include maxQuery(991){
        &:before{
            display: none;
        }
    }
    @include maxQuery(479){
        .col-6{
            width: 100%;
        }
    }
 
    .footer__part{
        a{
            color: rgba(var(--nw2));
            &:hover{
                color: rgba(var(--p1));
            }
        }
        .footer_list a{
            position: relative;
            padding-left: 0;
            &:before{
                content: "\e409";
                position: absolute;
                left: -10px;
                font-family: 'Material Symbols Outlined';
                font-size: 20px;
                opacity: 0;
                transition: var(--transition);
                font-weight: 700;
            }
            &:hover{
                color: rgba(var(--s1));
                padding-left: 20px;
                &:before{
                    left: 0;
                    opacity: 1;
                }

            }
        }
    }

    .footer__copyright{
        @include maxQuery(767){
            row-gap: 16px !important;
        }
    }

    .start-earning{
        position: relative;
        z-index: 0;
        @include maxQuery(767){
            .row.w-100{
                width: unset !important;
            }
        }
        &:after{
            content: "";
            border-radius: 299px;
            opacity: 0.3;
            background: rgba(var(--p1),1);
            filter: blur(200px);
            position: absolute;
            right: 0;
            top: 0;
            width: 299px;
            height: 299px;
            z-index: -1;
        }
      .vector_effect{
        justify-content: center;
        img{
            @include maxQuery(1199){
            width: 70%;
            }
        }
      }
    }
    .animation {
        img:first-child{
            top: 216px;
            left: 80px;
        }
    }
}